.slider {
    color: #010101;
    font-weight: 100;
    height:400px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
  
  .slider__slide {
    height: 100%;
    min-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: center;
    padding-top: 00px;
    padding-bottom: 50px;
  }
  
  .feedback-heading
  {
    font-family: 'Open Sans';
    font-display: swap;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    align-self: center;
    padding-top: 50px;
  }

  /* Arrows */
  .right-arrow,
  .left-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 6px;
    color: #544848;
  }
  
  .right-arrow {
    right: 15%;
  }
  .left-arrow {
    left: 15%;
  }
  
  /* Hide the scrollbar */
  .slider::-webkit-scrollbar {
    display: none; /* Safari, Google Chrome, Opera,  */
  }
  .slider {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .feedback {
    width: 760px !important;
    margin-top: 40px;
    text-align: center;
  }
  
  .feedback-text {
    font-family: 'Open Sans';
    font-style: regular;
    font-weight: 300;
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    font-display: swap;
  }
  
  .feedback-author {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #868686;
    font-display: swap;
  }
  
  @media only screen and (max-width: 1400px) {
    .feedback {
      width: 700px !important;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .feedback {
      width: 650px !important;
    }
    .right-arrow {
      right: 10%;
    }
    .left-arrow {
      left: 10%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .right-arrow {
      right: 5%;
    }
    .left-arrow {
      left: 5%;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .feedback {
      width: 600px !important;
    }
    .feedback-text {
      font-size: 19px;
    }
    
    .feedback-author {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .right-arrow {
      right: 3%;
    }
    .left-arrow {
      left: 3%;
    }
    .feedback-text {
      font-size: 19px;
    }
    
    .feedback-author {
      font-size: 18px;
    }
    .feedback {
      width: 500px !important;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .feedback {
      width: 500px !important;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .feedback {
      width: 400px !important;
    }
    .feedback-text {
      font-size: 20px;
      line-height: 37px;
    }
    .right-arrow {
      right: 1%;
    }
    .left-arrow {
      left: 1%;
    }
    .feedback-heading
    {
      font-size: 30px;
    }
  }
  
  @media only screen and (max-width: 560px) {
    .feedback {
      width: 380px !important;
    }
    .slider {
      color: #010101;
      font-weight: 100;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
    }
  }

  @media only screen and (max-width: 500px) {
    .feedback {
      width: 450px !important;
      /* background-color:red; */
    }
    .feedback-text
    {
      font-size: 16px;
      line-height: 30px;
    }
    .left-arrow, .right-arrow
    {
      display: none!important;
    }
  }
  
  @media only screen and (max-width: 460px) {
    .feedback {
      width: 400px !important;
    }
    .feedback-text {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 400px) {
    .feedback {
      width: 330px !important;
    }
    .feedback-text {
      font-size: 16px;
      line-height: 25px;
    }
    .slider__slide {
      padding-bottom: 30px;
    }
  }
  
  @media only screen and (max-width: 380px) {
    .feedback {
      width: 320px !important;
    }
    
  }
  
  @media only screen and (max-width: 320px) {
    .feedback {
      width: 250px !important;
    }
    .left {
      left:5px
    }
    .right {
      right: 5px;
    }
  }
  
  @media only screen and (max-width: 281px) {
    .feedback-text {
      font-size: 16px;
    }
    .feedback-author
    {
      font-size: 13px;
    }
  }
  