  
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

#preparation-div {
    margin-left: 6vw;
    width: 48vw;
    margin-bottom: 120px;
    margin-top: 70px;
}

.preparation-title {
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 44px;
color: #333741;
}

.preparation-sub-div {
    margin-left: 10%;
}

.preparation-content {
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #5A6885;
margin-top: 25px;
}

.preparation-sub-title {
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
color: #333741;
margin-top: 25px;
}

ol {
    margin-top: 12px;
}

@media only screen and (max-width: 900px) {
    #preparation-div {
        width: 56vw;
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 600px) {
    #preparation-div {
        width: 84vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .preparation-title, .preparation-content {
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    #preparation-div {
        margin: 70px 10vw 50px 10vw;
        width: 80vw;
    }
}