.glimpse {
    display: flex;
    flex-direction: row;
    padding: 0px 100px;
    padding-bottom: 10px;
  }
  
  .glimpse-left {
    width: auto;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .glimpse-image {
    width: 2800px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
  }
  
  .glimpse-image video {
    width: 90%;
    height: 90%;
  }
  
  .glimpse-first-text {
    font-size: 46px;
    font-family: Open Sans;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .glimpse-second-text {
    font-size: 20px;
    font-family: Open Sans;
    font-weight: regular;
    color: #000;
    margin-bottom: 20px;
  }
  
  .glimpse-third-text {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: regular;
    color: #757575;
  }
  .centered {
    margin: 20% 25% 25%;
  }
  /* .image-div img {
    border-top: 5px solid #27e7cd;
    width: 150px;
    height: 150px;
    margin-right: 50px;
  }
  .image-div {
    display: flex;
    margin-bottom: 25px;
  } */
  /* .image-div p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28.7077px;
    line-height: 39px;
    color: #000000;
    text-align: start;
    width: 120px;
    text-align: center;
  }
  .middle-div {
    display: flex;
    justify-content: space-around;
  }
  .form-div {
    width: 400px;
    height: 600px;
    background: linear-gradient(0deg, #000000, #000000);
    border-radius: 10px;
    z-index: 10;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .middle-left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
  } */
  
  .footer-options {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 500px 10px 500px;
  }
  
  .footer-options a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  
  .footer-copyright {
    text-align: center;
  }
  
  .footer-conditions {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 720px 10px 720px;
  }
  
  .footer-conditions a {
    color: #757575;
  }
  /* .form-title {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    width: 200px;
  }
  .form-text {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    margin: 0 32px;
  }
  #schedule-form input,
  #schedule-form button {
    width: 350px;
    margin-bottom: 18px;
    height: 45px;
    padding: 5px;
  }
  #schedule-form {
    margin-top: 25px;
  }
  #schedule-form button {
    background-color: #4ca9ee;
    border-color: #4ca9ee;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  } */
  @media only screen and (max-width: 1600px) {
    .footer-conditions {
      margin: 10px 600px 10px 600px;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .footer-conditions {
      margin: 50px 540px 10px 540px;
    }
  }
  
  @media only screen and (max-width: 1310px) {
    .footer-options {
      margin: 50px 400px 10px 400px;
    }
    .footer-conditions {
      margin: 10px 500px 10px 500px;
    }
  }
  
  @media only screen and (max-width: 1250px) {
    .footer-conditions {
      margin: 10px 500px 10px 500px;
    }
    .footer-options {
      margin: 50px 300px 10px 300px;
    }
  }
  
  @media only screen and (max-width: 1160px) {
    .footer-conditions {
      margin: 10px 400px 10px 400px;
    }
  }
  
  @media only screen and (max-width: 1110px) {
    .footer-options {
      margin: 50px 200px 10px 200px;
    }
  }
  
  @media only screen and (max-width: 996px) {
    .glimpse {
      display: flex;
      flex-direction: row;
      padding: 10px 50px;
      padding-bottom: 0px;
      /* background-color: red; */
    }
    .glimpse-image {
      /* width: 2800px; */
      height: 600px;
      /* display:flex; */
      /* justify-content: center; */
      /* align-items: flex-start; */
      /* padding-top: 0px; */
      /* background-color: orange; */
    }
  }
  
  @media only screen and (max-width: 991px) {
    .footer-options a {
      font-size: 18px;
    }
    .footer-copyright {
      margin-top: 20px;
      font-size: 17px;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .footer-conditions {
      margin: 10px 300px 10px 300px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .glimpse {
      display: flex;
      flex-direction: column;
      padding: 10px 90px;
      padding-bottom: 100px;
    }
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }
  
    .glimpse-image {
      width: 600px;
      height: 400px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 80%;
      height: 80%;
    }
  }
  
  @media only screen and (max-width: 760px) {
    .footer-conditions {
      margin: 10px 200px 10px 200px;
    }
    .footer-options {
      margin: 50px 100px 10px 100px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .glimpse {
      padding: 10px 80px;
      padding-bottom: 80px;
    }
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .glimpse-image {
      width: 500px;
      height: 350px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 615px) {
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .glimpse-image {
      width: 450px;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .footer-options {
      margin: 50px 20px 10px 20px;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .glimpse-image {
      width: 400px;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
    .glimpse-first-text {
      font-size: 35px;
      font-family: Open Sans;
      font-weight: bold;
      color: #4ca9ee;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 549px) {
    .glimpse {
      padding: 10px 45px;
      padding-bottom: 80px;
    }
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .glimpse-image {
      width: 450px;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .glimpse {
      padding: 10px 45px;
      padding-bottom: 80px;
    }
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .glimpse-image {
      width: 400px;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 465px) {
    .glimpse {
      padding: 10px 30px;
      padding-bottom: 80px;
    }
    .glimpse-left {
      width: "100%";
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .glimpse-image {
      width: 400px;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 460px) {
    .footer-conditions {
      margin: 10px 50px 10px 50px;
    }
  }
  
  @media only screen and (max-width: 432px) {
    .glimpse {
      padding: 10px 30px !important;
      padding-bottom: 80px !important;
    }
    .glimpse-image {
      width: 350px;
      height: 250px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .footer-conditions {
      margin: 10px 50px 10px 50px;
    }
    .glimpse {
      padding: 10px 20px;
      padding-bottom: 80px;
    }
    .glimpse-image {
      width: 300px;
      height: 220px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .footer-options {
      flex-wrap: wrap;
    }
    .footer-options a {
      margin: 0 12px 10px 0;
    }
    .glimpse-first-text {
      font-size: 28px;
      font-family: Open Sans;
      font-weight: bold;
      color: #4ca9ee;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 375px){
    .footer-copyright {
      margin: 0 20px;
    }
  }
  
  @media only screen and (max-width: 370px) {
    .glimpse {
      padding: 10px 20px !important;
      padding-bottom: 80px !important;
    }
    .glimpse-image {
      width: 300px;
      height: 220px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 340px) {
    .glimpse {
      padding: 10px 30px;
      padding-bottom: 50px;
      padding-right: 10px;
    }
    .glimpse-image {
      width: 280px;
      height: 200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .glimpse {
      padding: 10px 30px;
      padding-bottom: 80px;
      padding-right: 0px;
    }
    .glimpse-left {
      padding-right: 25px;
    }
    .glimpse-image {
      width: 260px;
      height: 200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .glimpse-image video {
      width: 90%;
      height: 90%;
    }
  }
  
  
  
  /* .navbar-container-unscrolled {
    display: flex;
    flex-direction: row;
    align-items: center !important;
  }
  .navbar-container-scrolled {
    display: flex;
    flex-direction: row;
    align-items: center !important;
  } */
  /* #landing-main-div {
    width: 100vw;
    height: 760px;
    background-color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-size: 75% 65%;
    background-position: 400px 0px;
  }
  .navbar-brand {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar-brand img {
    width: 80px;
    height: 53.33px;
  }
  .nav-link {
    font-size: 17px !important;
  }
  .navbar-brand span {
    color: #4ca9ee;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin-left: 5px;
  }
  #landing-extra-div1 {
    width: 100vw;
    height: 10px;
    background-color: red;
  } */
  /* #landing-content-div {
    height: 500px;
    background-color: transparent;
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
  }
  #landing-left-div {
    width: 50vw;
    position: relative;
    top: 150px;
    left: 120px;
  }
  #landing-extra-div2 {
    width: 100vw;
    height: 30px;
    background-color: transparent;
  }
  #landing-content-div {
    width: 100vw;
    height: 900px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100vw 900px;
    padding: 0;
  } */
  /* .landing {
    width: 100vw;
    height: 900px;
    background-color: transparent;
    background-image: url("../images/adLanding.png");
    background-repeat: no-repeat;
    background-size: 100vw 900px;
    padding: 0;
  }
  #landing-joinus {
    border-color: #000;
    color: #fff;
    padding: 8px 35px !important;
    border-radius: 20px !important;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    background-color: #000;
  }
  #landing-joinus:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
  }
  .nav-colored {
    background-color: white !important;
  }
  .nav-transparent {
    background-color: white !important;
  } */
  /* #landing-left-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #ffffff;
  }
  .navbar-toggler {
    margin-right: 20px;
    color: white;
    border: none;
  }
  .navbar-toggler i {
    color: white;
    border: none;
  }
  #landing-left-button-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #landing-left-button-div button {
    margin-right: 40px;
  }
  #landing-left-button-div :nth-child(2) {
    padding: 10px 35px !important;
    border-radius: 50px !important;
    color: #000;
    border-color: white !important;
    background-color: #fff;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
  } */
  /* #landing-left-button-div :nth-child(2):hover {
    background-color: #fff;
    color: #27e7cd;
  }
  #landing-left-button-div :nth-child(1) {
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
    border-color: #27e7cd;
    background-color: #27e7cd;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  #landing-left-button-div :nth-child(1):hover {
    color: #27e7cd;
    border-color: #fff;
    background-color: transparent;
  }
  .pride {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
  }
  
  .pride-heading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
  }
  
  .pride-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
  
  .footer-options {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 500px 10px 500px;
  }
  
  .footer-options p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
  
    color: #000000;
  }
  
  .footer-copyright {
    text-align: center;
  }
  
  .footer-conditions {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 720px 10px 720px;
  } */
  
  /* @media only screen and (max-width: 2300px) {
    #landing-main-div {
      background-size: 75% 70%;
      background-position: 570px 0px;
    }
  }
  
  @media only screen and (max-width: 2000px) {
    #landing-main-div {
      background-size: 75% 70%;
      background-position: 520px 0px;
    }
  }
  
  @media only screen and (max-width: 1700px) {
    #landing-main-div {
      background-size: 75% 65%;
      background-position: 430px 0px;
    }
  }
  
  @media only screen and (max-width: 1600px) {
    .footer-conditions {
      margin: 10px 600px 10px 600px;
    }
  }
  
  @media only screen and (max-width: 1500px) {
    .pride-text-div {
      width: 600px;
    }
    .pride-btn {
      padding: 2px 12px !important;
      height: 50px;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .footer-conditions {
      margin: 50px 540px 10px 540px;
    }
  }
  
  @media only screen and (max-width: 1310px) {
    .footer-options {
      margin: 50px 400px 10px 400px;
    }
    .footer-conditions {
      margin: 10px 500px 10px 500px;
    }
    #landing-left-button-div button {
      margin-right: 10px;
    }
  }
  
  @media only screen and (max-width: 1250px) {
    .footer-conditions {
      margin: 10px 500px 10px 500px;
    }
    .footer-options {
      margin: 50px 300px 10px 300px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .pride-text-div {
      width: 500px;
    }
  }
  
  @media only screen and (max-width: 1160px) {
    .footer-conditions {
      margin: 10px 400px 10px 400px;
    }
  }
  
  @media only screen and (max-width: 1110px) {
    .footer-options {
      margin: 50px 200px 10px 200px;
    }
    .pride-button-div {
      width: 420px;
      display: flex;
      justify-content: space-evenly;
    }
    #landing-left-button-div button {
      margin-right: 0 10px 0 0;
    }
  } */
  
  /* @media only screen and (max-width: 996px) {
    .pride-text-div {
      width: 400px;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .footer-conditions {
      margin: 10px 300px 10px 300px;
    }
  } */
  
  @media only screen and (max-width: 800px) {
    /* .pride {
      padding: 50px;
    } */
  }
  
  @media only screen and (max-width: 760px) {
    /* .pride {
      padding: 50px;
    }
    .pride-text-div {
      width: 500px;
    }
    .pride-button-div {
      margin-top: 5px !important;
      display: flex;
      flex-direction: column;
    }
    .pride-button-div button {
      width: 240px;
    }
    .footer-conditions {
      margin: 10px 200px 10px 200px;
    }
    .footer-options {
      margin: 50px 100px 10px 100px;
    } */
  }
  
  @media only screen and (max-width: 800px) {
    /* .pride {
      padding: 50px;
    } */
  }
  
  @media only screen and (max-width: 745px) {
    /* #landing-left-button-div :nth-child(1) {
      margin-bottom: 20px;
    }
    #landing-left-button-div :nth-child(2) {
      margin-bottom: 20px;
    } */
  }
  
  @media only screen and (max-width: 650px) {
    /* .pride-text {
      width: 240px;
      margin-right: 25px;
    }
    .pride-button-div button {
      width: 180px;
    } */
  }
  
  @media only screen and (max-width: 600px) {
    /* .pride-text-div {
      width: 300px;
    }
    .footer-options {
      margin: 50px 20px 10px 20px;
    } */
  }
  
  @media only screen and (max-width: 520px) {
    /* .pride {
      flex-direction: column;
    }
    .pride-button-div {
      flex-direction: row;
    }
    .pride-text {
      width: 400px !important;
    } */
  }
  
  @media only screen and (max-width: 460px) {
    /* .pride-text {
      width: 360px !important;
    }
    .pride-button-div {
      flex-direction: column;
    }
    .footer-conditions {
      margin: 10px 50px 10px 50px;
    } */
  }
  
  @media only screen and (max-width: 420px) {
    /* .pride-text {
      width: 360px !important;
    }
    .pride-button-div {
      flex-direction: column;
    }
    .footer-conditions {
      margin: 10px 50px 10px 50px;
    } */
  }
  
  @media only screen and (max-width: 400px) {
    /* .navbar-brand img {
      width: 60px;
      height: 40px;
    }
    .navbar-brand span {
      color: #4ca9ee;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      margin-left: 1px;
    }
    .navbar-container-unscrolled {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .navbar-container-scrolled {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0px;
    }
    .footer-options {
      flex-wrap: wrap;
    }
    .footer-options p {
      margin: 0 12px 10px 0;
    } */
  }
  
  @media only screen and (max-width: 360px) {
    .pride-text {
      width: 300px !important;
    }
  }
  
  @media only screen and (max-width: 340px) {
    .pride-text-div {
      width: 280px !important;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .glimpse-image img {
      width: 280px !important;
      height: 220px !important;
    }
    .glimpse-heading {
      width: 280px;
    }
    .glimpse-text {
      width: 260px;
    }
    .pride-text {
      width: 280px !important;
    }
    .pride-text-div,
    .pride-text {
      width: 200px !important;
    }
  }
  
  /* @media only screen and (max-width: 300px) {
    .navbar-brand img {
      width: 50px;
      height: 33.33px;
    }
    .navbar-brand span {
      font-size: 13px;
      margin-left: 1px;
    }
    .navbar-toggler {
      margin-right: 10px;
    }
  }
  
  @media only screen and (max-width: 820px) {
    .centered {
      margin: 40% 20% 0 20%;
    }
    .middle-div {
      display: flex;
      flex-direction: column;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .form-div {
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
      .ad-landing-title {
          font-size: 60px;
          line-height: 78px;
        }    
        .centered {
          margin: 54% 10% 0 10%;
        }
  } */
  
  /* @media only screen and (max-width: 450px) {
    .form-div {
      width: 350px;
    }
    #schedule-form input,
    #schedule-form button {
      width: 300px;
    }
    .image-div img {
      width: 120px;
      height: 120px;
      margin-right: 32px;
    }
    .image-div p {
      font-size: 24.7077px;
      line-height: 34px;
    }
  }
  
  @media only screen and (max-width: 380px) {
      .form-div {
        width: 300px;
      }
      #schedule-form input,
      #schedule-form button {
        width: 250px;
      }
    } */
    
    /* @media only screen and (max-width: 360px) {
      .form-div {
        width: 250px;
      }
      #schedule-form input,
      #schedule-form button {
        width: 220px;
      }
    }
  
    @media only screen and (max-width: 300px) {
      .form-div {
        width: 240px;
      }
      #schedule-form input,
      #schedule-form button {
        width: 200px;
      }
      .image-div img {
        width: 100px;
        height: 100px;
        margin-right: 25px;
      }
      .image-div p {
        font-size: 20px;
        line-height: 30px;
      }
    } */
    
    
  