@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
#choose-ailment,
#choose-timing,
#choose-days,
#onSiteForm,
#provide-contact,
#not-sure,
#final-card,
#fitness-calendar,
#basic-info {
    display: none
}

#choose-ailment.active-state,
#choose-timing.active-state,
#provide-contact.active-state,
#choose-days.active-state,
#not-sure.active-state,
#final-card.active-state,
#fitness-calendar.active-state,
#basic-info.active-state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-for-form {
    display: none;
}

.container-for-form.active {
    display: unset;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

.required-star {
    color: red
}

.active-state {
    -webkit-animation: left-to-right .8s forwards;
    animation: left-to-right .8s forwards
}

@keyframes left-to-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.os-form {
    padding: 2em 1em;
    width: 85%;
    margin: 2em auto;
    background-color: white;
    -webkit-box-shadow: 0px 5px 33px 4px #e5f4ff;
    box-shadow: 0px 5px 33px 4px #e5f4ff;
}

.osf-heading {
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em
}

.buttttons {
    text-align: center;
}

.osf-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.osf-back-button {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    color: grey;
    margin-bottom: .5em
}

.osf-back-button:hover {
    color: black
}

.osf-button,
.osf-success-button {
    background-color: transparent;
    border: none;
    padding: 1em 2em;
    margin: .2em 0;
    width: 80%;
    border-radius: .5em;
    color: white;
    font-size: 1rem;
    background-color: #4CA9EE;
    cursor: pointer
}

.osf-button:hover,
.osf-success-button:hover {
    background-color: #55acee
}

#osf-invalid-name,
#osf-invalid-height,
#osf-invalid-age,
#osf-invalid-contact,
#osf-invalid-problem,
#osf-invalid-weight {
    color: red;
    display: none;
    margin-top: -.5em;
}

.osf-gif img {
    display: none;
    width: 100%
}

.osf-form-name,
.osf-form-age,
.osf-form-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.osf-form-problem {
    text-align: center;
}

.osf-form-problem .osf-button {
    width: 100%;
}

.osf-form-basicinfo .osf-button {
    width: 100%;
    margin-top: 1em;
}

.osf-form-basicinfo div {
    padding: .5em 0;
}

.osf-form-name button,
.osf-form-age button,
.osf-form-contact button {
    margin-top: 1em;
    width: 100%
}

#osf-name,
#osf-contact,
#osf-age,
#osf-weight,
#osf-height,
#osf-problem {
    padding: .8em .5em;
    font-size: 1rem;
    outline: none;
    border: .2em solid #e9ecef;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: .2em;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

#osf-name:focus,
#osf-age:focus,
#osf-weight:focus,
#osf-height:focus {
    border-color: #86b7fe
}

.osf-congo {
    text-align: center !important;
    font-size: 1rem;
    padding-bottom: .5em
}

.osf-success-msg {
    text-align: center !important
}
/* Radio Buttons */

.pref {
    grid-column: 1/-1;
}

input[type=radio] {
    display: none;
    margin: 10px;
}

input[type=radio]+label {
    display: inline-block;
    padding: .5em 1em;
    background-color: white;
    border-radius: .4em;
    cursor: pointer;
    text-align: center;
}

input[type=radio]:checked+label {
    background-image: none;
    background-color: #4CA9EE;
    color: white;
    border-color: #4CA9EE;
}
/* checkbox buttons */

input[type=checkbox] {
    display: none;
    margin: 10px;
}

input[type=checkbox]+label {
    display: inline-block;
    padding: .5em 1em;
    background-color: white;
    border-radius: .4em;
    cursor: pointer;
    text-align: center;
}

input[type=checkbox]:checked+label {
    background-color: #4CA9EE;
    color: white;
}

.day-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.day-grid .osf-button {
    grid-column: 1/-1;
    justify-self: center;
    width: 100%;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5em;
    text-align: center;
}

.time-grid label {
    border: .2em solid #e9ecef;
    margin: .5em 0;
}

.day-grid label {
    border: .2em solid #e9ecef;
}

.time-grid .osf-button {
    margin-top: 1em;
    grid-column: 1/-1;
    justify-self: center;
    width: 100%;
}
/* final card */

.personal-session-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.book-session-title {
    color: #4ca9ee;
    margin: 1rem 0rem;
}

.personal-session-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 20px;
}

.personal-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.personal-card-title {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
}

.personal-card-title h1 {
    color: #4ca9ee;
    font-size: 1.5rem;
}

.personal-card-title img {
    width: 125px;
}

.personal-session-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-session-text ul {
    width: 100%;
}

.personal-session-text li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.personal-session-text li img {
    width: 28px;
    margin: 0px 10px;
}

.personal-session-text li p {
    font-size: 16px;
}

.personal-session-text li h2 {
    font-size: 36px;
    color: #4ca9ee;
    margin: 0px 10px;
    width: 28px;
    text-align: center;
    line-height: 28px;
}

.personal-session-text button {
    background: #4ca9ee;
    padding: 8px 48px;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0.8rem 0rem;
    cursor: pointer;
}

@media (max-width: 450px) {
    .personal-session-card {
        width: 290px;
        margin: 8px 0px;
    }
    .book-session-title h1 {
        font-size: 1.3rem;
    }
    .personal-card-title h1 {
        font-size: 1.2rem;
    }
    .personal-card-title img {
        width: 100px;
    }
    .personal-session-text li img {
        width: 24px;
    }
    .personal-session-text li h2 {
        width: 24px;
        font-size: 33px;
    }
    .personal-session-text li p {
        font-size: 14.5px;
    }
    .personal-session-text li {
        padding: 8px 0px;
    }
}

@media (max-width: 300px) {
    .personal-session-card {
        width: 90vw;
    }
}
/* final card (end)*/

@media (min-width: 768px) {
    .osf-form-basicinfo {
        display: grid;
    }
    .name-div {
        width: 100%;
    }
    .os-form {
        width: 60%;
        background-color: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .gif-and-content-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr
    }
    .osf-gif {
        width: 100%
    }
    .osf-gif img {
        display: unset
    }
    .buttttons {
        text-align: left;
    }
    .osf-button {
        max-width: -webkit-max-content !important;
        max-width: -moz-max-content !important;
        max-width: max-content !important;
        padding: 1em 3em;
        font-size: .6rem;
    }
    .osf-content {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .osf-heading {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: left;
        padding: 0
    }
    .osf-congo {
        font-size: 1.25rem
    }
    .osf-back-button {
        margin: 0
    }
    #choose-ailment {
        flex-direction: row;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
    }
    #choose-ailment .osf-button {
        margin-right: .2em;
        width: max-content;
    }
    .osf-form-problem {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .time-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }
    .time-grid .osf-button {
        grid-column: 1/-1;
        margin-top: 1em;
        justify-self: flex-start;
    }
    .day-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .day-grid .osf-button {
        justify-self: flex-start;
    }
    .osf-form-basicinfo {
        grid-template-columns: 1fr 1fr;
    }
    .osf-form-basicinfo div {
        padding: 0;
        padding-right: .4em;
    }
    .osf-button {
        max-width: -webkit-max-content !important;
        max-width: -moz-max-content !important;
        max-width: max-content !important;
        padding: 1em 3em;
        font-size: .75rem;
    }
    .osf-heading {
        font-size: 1.5rem;
        grid-column: 1/-1;
    }
    .osf-congo {
        font-size: 1.5rem
    }
}

@media (min-width: 1440px) {
    .osf-heading {
        font-size: 2rem;
    }
    .osf-form-basicinfo .osf-button {
        margin: 0;
    }
    .pref-div {
        display: flex;
        align-items: flex-end;
    }
    .osf-button {
        font-size: .9rem;
        margin-top: 0;
    }
    .osf-congo {
        font-size: 2rem
    }
    #osf-name,
    #osf-age,
    #osf-contact {
        width: 100%
    }
}
/*# sourceMappingURL=onSiteForm.css.map */